/* ------------------------------최상단 배경------------------------------------ */
.fist-back {
  width: 100%;
  height: 100vh;
  min-height: 1650px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.back-container{
  min-width: 1130px;
  height: 100%;
  background-color: rgb(10, 15, 17);
  display: flex;
  align-items: start;
  justify-content: center;
}

.back-container-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
/* ------------------------------베이스 css------------------------------------ */
.base-input{
  color: #dcdcdc;
  background: none;
  font-size: 14px;
  height: 30px; 
  /* height: 22px; */
  border: none;
  padding: 1px 10px 1px 10px;
  border-right: solid 1px rgb(45, 72, 88);
  text-align: center;
}

.base-column {
  width: 48px; 
  height: 21.3px; 
  font-size: 12px;
  color: #dcdcdc;
  background-color: rgb(18, 38, 50);
  border-right: solid 1px rgb(63, 84, 96);
}

.css-base{
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  right: -11px; 
  top: 0px; 
  border: solid 1px rgb(45, 72, 88);
  background: rgb(10, 15, 17);
  width: 18px; 
  height: 12px;
  z-index: 20;
}

.css-light {
  width: 40%; height: 40%; 
  border-radius: 30%;
  background-color: rgb(182, 238, 255, 0.9);
  border-radius: 30%;
  box-shadow:
  0 0 20px 10px rgba(132, 226, 255, 0.2),
  0 0 50px 20px rgba(132, 226, 255, 0.1),
  0 0 100px 40px rgba(132, 226, 255, 0.1),
  0 0 200px 80px rgba(132, 226, 255, 0.1);    
}

.css-circle {
  background: none;
  width: 20px; 
  height: 20px;
  border-radius: 50%;
}

.css-line {
  background: none;
  border: solid 0px;
  border-top: solid 1px rgb(45, 72, 88);
  width: 30px;
}

.css-dot {
  background: none;
  border: none;
  flex-direction: column;
  width: 8px;
  height: 40px;
}

.css-dot2 {
  background-color: rgb(45, 72, 88);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 4px;
}
/* --------------------------------------------------------------------------- */
.grade-text {
    color: #dcdcdc;
    font-size: 18px;
    text-align: center;
    padding-right: 10px;
    margin-bottom: 4px;
}

.gradient-box1 {
    width: 120px;
    height: 7px;
    border-radius: 2px;
    margin: 1px 0px;
    background: linear-gradient(to right, 
        rgb(224, 240, 241),
        rgb(0, 221, 235),
        rgb(0, 113, 121)
    );
}

.gradient-box2 {
    width: 119px;
    height: 7px;
    border-radius: 2px;
    margin: 1px 0px;
    background: linear-gradient(to right, 
        rgb(158, 166, 255),
        rgb(102, 23, 229),
        rgb(61, 0, 158)
    );
}
.gradient-box3 {
    width: 120px;
    height: 7px;
    border-radius: 2px;
    margin: 1px 0px;
    background: linear-gradient(to right, 
        rgb(202, 127, 255),
        rgb(161, 2, 127),
        rgb(112, 0, 88)
    );
}

.bar-chart1 {
  position: relative; 
  padding: 4px 4px; 
  border-left: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
  gap: 7px; 
  width: 118px; 
  height: 57px; 
  display: flex; 
  justify-content: center; 
  align-items: end; 
  text-align: center;
}

.bar-chart2 {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgb(126, 136, 143);
  width: 17px; 
  color: rgb(10, 15, 17);
}

.cover-box{
    border: solid 1px rgb(45, 72, 88);
    border-top: solid 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    padding: 2px;
    padding-top: 27px;
  }

  .cover-title1{
    /* background-color: rgb(45, 72, 88); */
    background-color: rgb(18, 38, 50);
    border: 1px solid rgb(63, 84, 96);
    width: 99.8%;
    height: 25px;
    position: absolute;
    top: 0px;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }

  .cover-title2{
    background-color: rgb(163, 177, 189);
    width: 10px;
    height: 100%;
  }

  .cover-title3{
    width: 100%;
    height: 100%;
    color: rgb(183, 233, 255);
    text-shadow: 0px 0px 10px rgba(87, 166, 206, 0.8),
    0 0 1em rgba(87, 166, 206, 0.7),
    0 0 0.2em rgba(87, 166, 206, 0.5);
    font-size: 14px;
    padding-left: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
  }

#preview-container{
    position: relative;
    color: #dcdcdc;
    overflow: auto;
    padding: 1%;
    font-size: 14px;
    width: 307.2px;
    height: 153.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px rgb(45, 72, 88);
}
/* ------------------------------파일 선택, 나이 입력------------------------------------ */
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: solid 1px rgb(45, 72, 88);
}

.input-box label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(182, 238, 255, 1);
  border: solid 1px rgb(182, 238, 255, 0.6);
  text-shadow: 0 0 8px rgba(182, 238, 255, 0.5);
  box-shadow:
  inset 0 0 2px 2px rgba(132, 226, 255, 0.1),
  inset 0 0 5px 5px rgba(132, 226, 255, 0.07),
  inset 0 0 10px 10px rgba(132, 226, 255, 0.04);
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  height: 92%;
  font-size: 14px;
}

.input-box label:hover {
  border: 1px solid rgb(182, 238, 255, 0.8);
  box-shadow:
  inset 0 0 2px 2px rgba(132, 226, 255, 0.25),
  inset 0 0 5px 5px rgba(132, 226, 255, 0.15),
  inset 0 0 10px 10px rgba(132, 226, 255, 0.15);
}

.age-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(182, 238, 255, 1);
  text-shadow: 0 0 8px rgba(182, 238, 255, 0.5);
  vertical-align: middle;
  cursor: no-drop;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border-right: solid 1px rgb(45, 72, 88);
}

.new-input{
  color: #dcdcdc;
  background: none;
  font-size: 14px;
  width: 120px;
  height: 30px;
  border: none;
  padding-left: 10px;
}

.new-input:focus{
  color: rgb(215, 215, 215);
  outline: none;  /* 기본 테두리 제거 */
}

.input-box input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
/* ------------------------------등급 색 설명------------------------------------ */
.gradient-A {
  width: 70px; 
  height: 8px; 
  border: solid 1px rgb(137, 137, 137);
  background: linear-gradient(to right, 
    rgb(243, 255, 255),
    rgb(14, 219, 212)
  );
}

.gradient-B {
  width: 70px; 
  height: 8px; 
  border: solid 1px rgb(137, 137, 137);
  background: linear-gradient(to right, 
    rgb(220, 207, 255),
    rgb(78, 23, 229)
  );
}

.gradient-C {
  width: 70px; 
  height: 8px; 
  border: solid 1px rgb(137, 137, 137);
  background: linear-gradient(to right, 
      rgb(251, 207, 255),
      rgb(193, 10, 209)
  );
}

.grade-lagende {
  width: 15px; 
  height: 15px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(47, 53, 57);
  color: #dcdcdc;
  border-radius: 2px;
}
/* ----------------------------------------------------------------------------- */
.submission-form{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 272px;
    color: #dcdcdc;
    margin-left: 25px;
}

.main-top-container {
  justify-content: start; 
  width: 100%; 
  height: 174.07px; 
  border-bottom: solid 1px rgb(45, 72, 88);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 70px 0px 140px 0px;
}

#top-infobox-container {
    position: absolute;
    top: -60px;
    height: 160px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 9px;
    z-index: 15;
    background-color: rgb(10, 15, 17);
}

#bottom-infobox-container {
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 9px;
    z-index: 15;
}

#result-draw-layer{
    position: relative;
    width: 1024px;
    height: 512px;
    border-radius: -1px;
}

.result-draw-layer2{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 512px;
  border-radius: 10px;
  z-index: 10;
}

.info-box {
  position: absolute;
  font-size: 7px;
  z-index: -1;
}

.info-box2{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px;
    font-size: 14px;
}

.info-box3{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px;
}

.info-box2:hover {
    box-shadow:
    0px 0px 10px rgb(255, 255, 255),
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255);
}

.info-box3:hover {
    box-shadow:
    0px 0px 10px rgb(255, 255, 255),
    0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(255, 255, 255);
}

.max-ratio-box {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 0, 0.7);
}

.max-ratio-box:hover {
    border: 1px solid rgb(255, 255, 255);
    box-shadow:
    0px 0px 10px 5px rgba(255, 255, 0, 0.7),
    0 0 2em rgba(255, 255, 0, 0.7);
}

.upload-btn {
  position: relative;
  height: 26px;
  border: 1px solid rgb(182, 238, 255, 0.9);
  outline: none;
  background-color: transparent;
  transition: 0.7s;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  color: rgb(182, 238, 255, 1);
  text-shadow: 0 0 8px rgba(182, 238, 255, 0.5);
}

.upload-btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 10px;
  width: 90%;
  height: 4px;
  background-color: rgb(10, 15, 17);
  transition: 0.3s;
  transform-origin: center;
}

.upload-btn::before {
  content: "";
  transform-origin: center;
  position: absolute;
  bottom: -3px;
  left: 10px;
  width: 90%;
  height: 4px;
  background-color: rgb(10, 15, 17);
  transition: 0.3s;
}

.upload-btn:hover::before, button:hover::after {
  transform: scale(0)
}

.upload-btn:hover {
  text-shadow: none;
  box-shadow:
  inset 0 0 2px 2px rgba(132, 226, 255, 0.2),
  inset 0 0 5px 5px rgba(132, 226, 255, 0.1),
  inset 0 0 10px 10px rgba(132, 226, 255, 0.1);
}   

#loader-box {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  perspective: 780px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  color: #cecece;
  z-index: 10;
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid rgb(147, 246, 250);
  animation: rotate1 1.15s linear infinite;
  /* box-shadow: 0px 0px 8px rgba(147, 246, 250, 0.7); */
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid rgb(147, 246, 250);
  animation: rotate2 1.15s 0.1s linear infinite;
  /* box-shadow: 0px 0px 8px rgba(147, 246, 250, 0.7); */
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid rgb(147, 246, 250);
  animation: rotate3 1.15s 0.15s linear infinite;
  /* box-shadow: 0px 0px 8px rgba(147, 246, 250, 0.7); */
}

@keyframes rotate1 {
  0% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

.tips {
  color: #dcdcdc;
  border: solid 1px rgb(63, 84, 96);
  position: absolute;
  left: 760px;
  top: 10px;
  font-size: 12px;
}

.tips-title {
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.tips1 {
    width: 57px; 
    display: flex;
    justify-content: left;
    align-items: center;
    border-style: solid; 
    border-width: 1px 1px 0px 0px; 
    border-color: rgb(63, 84, 96);
    padding: 3px;
}

.tips2 {
    width: 105px; 
    display: flex;
    justify-content: left;
    align-items: center;
    border-style: solid; 
    border-width: 1px 0px 0px 0px; 
    border-color: rgb(63, 84, 96);
    padding: 3px;
}

.standard {
    position: relative;
    width: 0px;
    height: 0px;
}
/* ------------------------ 메뉴 버튼 ------------------------*/
.menu-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(51, 65, 70);
  width: 90%; 
  padding-left: 10px;
  height: 37px;
  margin-top: 5px;
  border-radius: 3px;
  color: aliceblue;
}

.menu-btn:hover {
  background-color: rgb(31, 42, 46);
}
/* ------------------------ 온 오프 버튼 ------------------------*/
.on-off-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  height: 35px;
  cursor: pointer;
  color: rgb(182, 238, 255, 1);
  border: 1px solid rgb(182, 238, 255, 0.6);
  text-shadow: 0 0 8px rgba(182, 238, 255, 0.5);
  box-shadow:
  inset 0 0 2px 2px rgba(132, 226, 255, 0.1),
  inset 0 0 5px 5px rgba(132, 226, 255, 0.07),
  inset 0 0 10px 10px rgba(132, 226, 255, 0.04);
  margin: 2px;
}

.on-off-btn:hover {
  border: 1px solid rgb(182, 238, 255, 0.8);
  box-shadow:
  inset 0 0 2px 2px rgba(132, 226, 255, 0.25),
  inset 0 0 5px 5px rgba(132, 226, 255, 0.15),
  inset 0 0 10px 10px rgba(132, 226, 255, 0.15);
}
/* ------------------------ 크롭 이미지 ------------------------*/
.cropped-image-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgb(45, 72, 88);
  width: 100%;
  height: 170px;
}
/* ------------------------ 결과 요약 ------------------------*/
.summary-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border-top: solid 1px rgb(45, 72, 88);
  border-bottom: solid 1px rgb(45, 72, 88);
}

.index-column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(186, 255, 232);
  width: 110px;
  height: 15px;
  font-size: 14px;
  margin: 8px 0px;
  margin-left: 15px;
  border-left: solid 3px #dcdcdc;
  border-right: solid 1px #dcdcdc;
}

.data-entry {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  /* border: solid 1px rgb(78, 142, 209); */
  color: rgb(116, 192, 255);
  width: 50px;
  height: 15px;
  font-size: 14px;
  margin-left: 7px;
}
/* ------------------------ 파이 차트 ------------------------*/
.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
}
/* ------------------------ 치주염 공식 참고 지표 ------------------------*/
.grading-table-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stage-table-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

table {
    height: 100%;
    border-collapse: collapse;
    color: #dcdcdc;
    font-size: 14px;
    width: 1256px;
}

th, td {
  border: 1px solid rgb(63, 84, 96);
  vertical-align: top;  /* 텍스트를 상단에 붙임 */
  text-align: left;
  padding: 7px;
}

th {
  background-color: rgb(18, 38, 50);
  font-size: 14px;
  color: rgb(183, 233, 255);
  text-shadow: 0px 0px 10px rgba(87, 166, 206, 0.8), 
  0 0 1em rgba(87, 166, 206, 0.7), 
  0 0 0.2em rgba(87, 166, 206, 0.5);
  font-weight: normal;
  vertical-align: middle;
}

.row-column {
  /* background-color: rgb(45, 72, 88); */
  /* border: solid 1px rgb(94, 117, 130); */
  font-size: 14px;
  color: rgb(183, 233, 255);
  vertical-align: middle;
}
/* ------------------------ 위험인자 체크 박스 ------------------------*/
select {
  display: none;
}