{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
<div class="accounts-box" style="width: 500px;">
    <div class="account-navi">
      <div class="div-h">
        <img style="margin-left: 10px; margin-right: 5px; width: 70px;" src="{% static 'img/LTLUX_logo_1.png' %}">
        <h1 class="logo-p" style="margin-right: 10px; font-size: 22px; margin-top: 2px;">- P</h1>
        <div class="sub-line" style="margin-right: 10px; height: 35px; "></div>
      </div>
      <h3>Sign Up</h3>
      <div class="account-navi-text" style="align-items: start; margin-left: 120px;">
        <li><a  href="{% url 'login' %}">LogIn</a></li>
        <li><a  href="{% url 'id_search' %}">FindID</a></li>
      </div>
      <div class="account-navi-text" style="align-items: start; margin-left: 10px;">
        <li><a  href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'password_search' %}">FindPW</a></li>
      </div>
    </div>
    
    <div class="accounts-box2" style="width: 100%;">
        <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
            <div class="div-h">
                <div style="margin: 0px 10px;">
                    <div class="input-box">
                        <input name="{{ form.username.html_name }}" type="text" required="">
                        <label>ID</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.password1.html_name }}" type="password" required="">
                        <label>Password</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.password2.html_name }}" type="password" required="">
                        <label>Confirm Password</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.name.html_name }}" type="text" required="">
                        <label>Name</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.email.html_name }}" type="email" required="">
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.phonenumber.html_name }}" type="tel" required="">
                        <label>Phone Number</label>
                    </div>
                </div>
                <div style="margin: 0px 10px;">
                    <div class="input-box">
                        <input name="{{ form.License_Number.html_name }}" type="text" required="">
                        <label>License Number</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.Affiliation.html_name }}" type="text" required="">
                        <label>Affiliation</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.Rank.html_name }}" type="text" required="">
                        <label>Title</label>
                    </div>
                    <div class="input-box">
                        <input name="{{ form.Subject.html_name }}" type="text" required="">
                        <label>Medical Specialty</label>
                    </div>
                    <select class="question" style="width: 194.4px; height: 39.2px;" name="{{ form.question.html_name }}">
                        {% for q in question %}
                            <option>{{ q }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-box">
                        <input name="{{ form.hint.html_name }}" type="text" required="">
                        <label>Answer</label>
                    </div>
                </div>
            </div>

            <center>
            <button class="send" style="margin-top: 20px;" href="#" type="submit">
                    SEND
                <span></span>
            </button>
            </center>
        </form>
    </div>
</div> 
{% endblock %}