{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
<div class="accounts-box">
    <div class="account-navi">
        <div>
            <img class="logo" src="{% static 'img/ltlux-logo2.png' %}">
        </div>
        <h3>Find PW</h3>
    </div>
    <div class="accounts-box2" style="text-align: center;">
        <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <P>You are currently logged in.<br><br>Please try again after logging out.</P>
            <center>
                <button class="send" style="margin-top: 20px;" href="#" type="submit">
                    Logout
                <span></span>
                </button>
            </center>
            <small style="font-size: 16px; margin: 0px; color: rgb(157, 157, 157);">&</small>
            <a href="{% url 'diagnosis_single' %}">
                <center>
                    <div class="send" style="margin-top: 0px;">
                        home
                    <span></span>
                    </div>
                </center>
            </a>
        </form>
        
    </div>
</div> 
{% endblock %} 