{% extends 'Accounts_base.html' %}
{% load static %}
{% block content %}
<div class="accounts-box">
    <div class="account-navi">
      <div class="div-h">
        <img style="margin-left: 10px; margin-right: 5px; width: 70px;" src="{% static 'img/LTLUX_logo_1.png' %}">
        <h1 class="logo-p" style="margin-right: 10px; font-size: 22px; margin-top: 2px;">- P</h1>
        <div class="sub-line" style="margin-right: 10px; height: 35px; "></div>
      </div>
      <h3>Find PW</h3>
      <div class="account-navi-text" style="align-items: start; margin-left: 40px;">
        <li><a  href="{% url 'login' %}">LogIn</a></li>
        <li><a  href="{% url 'id_search' %}">FindID</a></li>
      </div>
      <div class="account-navi-text" style="align-items: start; margin-left: 10px;">
        <li><a  href="{% url 'signup' %}">SignUp</a></li>
        <li><a href="{% url 'password_search' %}">FindPW</a></li>
      </div>
    </div>

    <div class="accounts-box2">
        <form method="POST" action="{% url 'password_search' %}">
        {% csrf_token %}
            <div class="input-box">
                <input name="{{ form.username.html_name }}" type="text" required="">
                <label>ID</label>
            </div>
            <div class="input-box">
                <input name="{{ form.name.html_name }}" type="text" required="">
                <label>Name</label>
            </div>
            <div class="input-box">
                <input name="{{ form.email.html_name }}" type="email" required="">
                <label>Email</label>
            </div>
            <div class="input-box">
                <input name="{{ form.License_Number.html_name }}" type="text" required="">
                <label>License Number</label>
            </div>
            <select class="question" name="{{ form.question.html_name }}">
                {% for q in question %}
                    <option>{{ q }}</option>
                {% endfor %}
            </select>
            <div class="input-box">
                <input name="{{ form.hint.html_name }}" type="text" required="">
                <label>Answer</label>
            </div>
            <center>
                <button class="send" style="margin-top: 20px;" href="#" type="submit">
                    SEND
                <span></span>
                </button>
            </center>
        </form>
    </div>
</div> 
{% endblock %}