{% extends 'Diagnosis_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clinic.css' %}">

<div class="div-v" style="width: 100%; margin: 50px 0px;">
    <div class="div-h" style="margin-right: 620px; margin-bottom: 20px; gap: 20px;">
        <div class="div-h" style="font-size: 12px; border: solid 2px rgb(88, 115, 130); border-radius: 5px;  width: 500px; height: 30px; color: rgb(183, 233, 255);">Please enter your search term
        </div> 
        <div class="cn-btn" style="height: 30px;">Search</div>
        <div class="cn-btn" style="height: 30px;">Reset</div>
    </div>
    <!-- 컬럼 -->
    <div class="cb-column-cover" style="width: 1254px; height: 60px;">
        <div class="cb-column" style="width: 30%;">Index</div>
        <div class="cb-column">Patient ID</div>
        <div class="cb-column">Visit Date</div>
        <div class="cb-column">Doctor ID</div>
        <div class="cb-column">Patient Data</div>
        <div class="cb-column">Delete</div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">0</div>
        <div class="cn-row">65355</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">1</div>
        <div class="cn-row">23425</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">2</div>
        <div class="cn-row">25652</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">3</div>
        <div class="cn-row">92854</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">4</div>
        <div class="cn-row">12524</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">5</div>
        <div class="cn-row">35242</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">6</div>
        <div class="cn-row">52432</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">7</div>
        <div class="cn-row">44242</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    <!-- 1행 -->
    <div class="cn-row-cover" style="border-bottom: solid 1px rgb(88, 115, 130); width: 1254px; height: 60px;">
        <div class="cn-row" style="width: 30%;">8</div>
        <div class="cn-row">15242</div>
        <div class="cn-row">jan 9, 2024, 4:24 p.m.</div>
        <div class="cn-row">test user</div>
        <div class="cn-row"><div class="cn-btn">Detail</div></div>
        <div class="cn-row"><div class="cn-btn">Delete</div></div>
    </div>
    

</div>

{% endblock %}