{% extends 'Diagnosis_base.html' %}
{% load static %}

{% block content %}



<div class="back-container">
    <!-- <div class="back-container-left">
        <div class="cover-box" style="width: 210px; height: 1390px;">
        <div class="cover-title1">
            <div class="cover-title2"></div>
            <div class="cover-title3">OUPUT FORM</div>
            <div class="cover-title3" style="width: 65px;">X-RAY</div>
            <div class="cover-title2"></div>
        </div>
        asdasdasdasd
        </div>
    </div> -->
<!-- ================================================================================================================================== -->
    <div class="div-v">
        <!------------------------- 확대축소 팁 ------------------------->
        <div class="standard">
            <!-- <div style="position: absolute; left: -365px; top: 0px; color: #7a7a7a;">TIPS .</div> -->
            <!-- <div class="div-v tips" style="align-items: start;">
                <div class="div-h">
                    <div class="tips-title">Page Zoom</div>
                </div>
                <div class="div-h">
                    <div class="tips1">Zoom in</div>
                    <div class="tips2">Ctrl + Wheel up</div>
                </div>
                <div class="div-h">
                    <div class="tips1">Zoom out</div>
                    <div class="tips2">Ctrl + Wheel doun</div>
                </div>
            </div> -->
        </div>



            <!-- <div class="cover-box"  style="padding: 43px; padding-right: 20px; height: 270px;">
                <div class="cover-title1">
                    <div class="cover-title2"></div>
                    <div class="cover-title3">GRADE OUTPUT TIPS</div>
                    <div class="cover-title2"></div>
                </div>
                <div style="position: absolute; left: 40px; top: 35px; color: aliceblue;">
                    <div class="div-h" style="font-size: 15px;">
                    <div class="div-v" style="align-items: start;">
                        <div>As the</div>
                        <div style="color: #9cffff; text-shadow: 0 0 8px #9cffff;">bone loss</div>
                    </div>
                        <div style="margin-bottom: 5px; margin-left: 5px; font-size: 45px; font-weight: bold; color: #9cffff; text-shadow: 0 0 8px #9cffff;">%</div>
                        <div style="font-size: 40px; margin-bottom: 10px; color: #ffffff; text-shadow: 0 0 8px #ffffff;">↑,</div>
                    </div>
                    <div style="text-align: justify; color: #ffffff; width: 165px; position: absolute; left: -1px; top: 60px; font-size: 15px;">the box color deepens and its height increases.</div>
                    <div style="width: 197px; position: absolute; right: -25px; top: 10px; height: 300px;"></div>
                </div>
                <div style="padding: 4px 8px; border-left: solid 1px gray; border-bottom: solid 1px gray; gap: 7px; position: absolute; left: 77px; bottom: 118px; width: 118px; height: 60px; display: flex; justify-content: center; align-items: end; text-align: center;">
                    <div class="reference1" style="height: 47px; background-color: rgb(224, 240, 241);">1<br>%</div>
                    <div class="reference1" style="height: 51px; background-color: rgb(139, 236, 243);">3<br>%</div>
                    <div class="reference1" style="height: 55px; background-color: rgb(0, 221, 235);">5<br>%</div>
                    <div class="reference1" style="height: 59px; background-color: rgb(0, 160, 172);">7<br>%</div>
                    <div class="reference1" style="height: 63px; background-color: rgb(0, 113, 121);">9<br>%</div>
                </div>
                <div style="padding-right: 4px; border-top: solid 1px; color: gray; position: absolute; left: 37px; bottom: 170px; font-size: 12px;">Height</div>
                <div class="div-v">
                <br>
                    <div class="div-h" style="margin-top: 208px; margin-left: 55px; font-size:12px; color: gray; text-align: end;">Ratio ↗</div>
                    <div class="div-h" style="margin-top: 0px; margin-left: 12px; padding-right: 10px;">
                        <div class="div-v">
                            <div class="grade-text" style="color: rgb(158, 235, 240);">A</div> 
                            <div class="grade-text" style="color: rgb(190, 161, 237);">B</div> 
                            <div class="grade-text" style="color: rgb(229, 142, 210);">C</div> 
                        </div>
                        <div class="div-v" style="padding: 10px 7px; border-left: solid 1px gray; border-bottom: solid 1px gray; gap: 16px;">
                            <div class="gradient-box1"></div>
                            <div class="gradient-box2"></div>
                            <div class="gradient-box3"></div>
                        </div>
                    </div>
                </div>
            </div> -->

        <div class="cover-box">
            <div class="cover-title1">
                <div class="cover-title2"></div>
                <div class="cover-title3">OUPUT FORM</div>
                <div class="cover-title3" style="width: 65px;">X-RAY</div>
                <div class="cover-title2"></div>
            </div>
            
            <!-- 뱌경 css 요소들 -->
            <div class="css-base" style="top: 320px;"><div class="css-light"></div></div>
            <div class="css-base" style="top: 620px;"><div class="css-light"></div></div>

            <div class="css-base css-circle" style="top: 500px;"></div>

            <div class="css-base css-line" style="top: 60px;"></div>
            <div class="css-base css-line" style="top: 460px;"></div>

            <div class="css-base css-dot" style="top: 380px;">
                <div class="css-dot2"></div><div class="css-dot2"></div><div class="css-dot2"></div>
                <div class="css-dot2"></div><div class="css-dot2"></div>
            </div>

            <!-- 인풋박스 -->
            <div class="div-h main-top-container">
                <div id="preview-container"> Preview</div>
                <form class="div-v" style="color: #ddffff; justify-content: end; height: 174.07px; border-right: solid 1px rgb(34, 56, 70);" enctype="multipart/form-data">
                    <!-- Age in Years -->
                    {% csrf_token %}
                    <div class="div-h base-input base-column" style="width: 186px; border: none; border-top: solid 1px rgb(34, 56, 70);">
                        Input Form
                    </div>
                    <div class="input-box">
                        <input type="file" id="imgfile" accept="image/*" required>
                        <label for="imgfile">File</label> 
                        <input class="new-input" value="" placeholder="Click 'File'" required>
                    </div>
                    <div class="input-box">
                        <input type="file" id="imgfile" accept="image/*" required>
                        <label style="cursor: no-drop">Age</label> 
                        <input class="new-input" value="" placeholder="Enter here" type="number" id="ageInput" min="1" step="1" required>
                    </div>
                    <div class="input-box" style="padding: 3px; width: 200px;">
                        <button class="upload-btn" type="button" onclick="uploadImage()">Upload</button>
                    </div>
                </form>
                <!-- 등급 박스 변화 설명 -->  
                <div class="div-v" style="width: 189px; justify-content: end; height: 174.07px; border-right: solid 1px rgb(34, 56, 70);">    
                    <div class="css-line" style="width: 100%; height: 24px;"></div>
                    <div class="bar-chart1">
                        <div class="bar-chart2" style="height: 42px;">1<br>%</div>
                        <div class="bar-chart2" style="height: 47px;">3<br>%</div>
                        <div class="bar-chart2" style="height: 52px;">5<br>%</div>
                        <div class="bar-chart2" style="height: 57px;">7<br>%</div>
                        <div class="bar-chart2" style="height: 62px;">9<br>%</div>
                        <div style="padding-right: 4px; border-top: solid 0px; color: rgb(95, 95, 95); position: absolute; left: -1px; top: -22px; font-size: 14px;">Height</div>
                    </div>
                    <div class="div-h" style="height: 32px; color: rgb(95, 95, 95); font-size: 14px;">Ratio</div>
                </div>  
                <!-- 등급 색 설명 -->
                <div class="div-v" style="justify-content: end; height: 174.07px;">
                    <div class="input-box">
                        <div class="div-h base-input base-column" style="width: 48px;">Grade</div>
                        <div class="div-h base-input base-column" style="width: 46px;">Color</div>
                        <div class="div-h base-input base-column" style="width: 89px;">Shade Darkens</div>
                        <div class="div-h base-input base-column" style="width: 48px; border-right: none;">Legend</div>
                    </div>
                    <div class="input-box">
                        <div class="div-h base-input" style="width: 48px;">A</div>
                        <div class="div-h base-input" style="width: 46px;">
                            <div style="width: 10px; height: 10px; background: rgb(0, 221, 235);"></div>
                        </div>
                        <div class="div-h base-input" style="width: 89px;">
                            <div class="gradient-A"></div>
                        </div>
                        <div class="div-h base-input" style="width: 48px; border: none;">
                            <div class="div-h grade-lagende">?</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="div-h base-input" style="width: 48px;">B</div>
                        <div class="div-h base-input" style="width: 46px;">
                            <div style="width: 10px; height: 10px; background: rgb(161, 2, 127);"></div>
                        </div>
                        <div class="div-h base-input" style="width: 89px;">
                            <div class="gradient-B"></div>
                        </div>
                        <div class="div-h base-input" style="width: 48px; border: none;">
                            <div class="div-h grade-lagende">?</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="div-h base-input" style="width: 48px;">C</div>
                        <div class="div-h base-input" style="width: 46px;">
                            <div style="width: 10px; height: 10px; background: rgb(102, 23, 229);"></div>
                        </div>
                        <div class="div-h base-input" style="width: 89px;">
                            <div class="gradient-C"></div>
                        </div>
                        <div class="div-h base-input" style="width: 48px; border: none;">
                            <div class="div-h grade-lagende">?</div>
                        </div>
                    </div>
                </div>
                <!-- 사용 설명 -->
                <!-- <div class="div-v" style="height: 174.06px; justify-content: end;">
                    <div class="div-h row1">
                        <div class="small-text">Grade</div>
                        <div class="text-A">- A</div>
                        <div class="color-A"></div>
                        <div class="small-text">Shade Darkens</div>
                        <div class="row2"></div>
                    </div>
                </div> -->
            </div>


            <div class="main-container">
                <div id="top-infobox-container"></div> <!-- canvas 컨테이너에서 복사한 결과 표시 레이어 -->
                <!-- <div class="pixel-ruler1">
                    <div class="p1">0</div><div class="p1" style="width: 35px;"></div>
                    <div class="p1">100</div><div class="p1" style="width: 35px;"></div>
                    <div class="p1">200</div><div class="p1" style="width: 35px;"></div>
                    <div class="p1">300</div><div class="p1" style="width: 35px;"></div>
                    <div class="p1">400</div><div class="p1" style="width: 35px;"></div>
                    <div style="position: relative; width: 35px; border-bottom: solid 1px; height: 11px; color: #ddffff;">
                    <di class="p1-text">512<br><small style="font-size: 8px;">PIXEL</small></di>
                    </div>
                </div>
                <div class="pixel-ruler2">
                    <div class="p2">0</div><div class="p2" style="height: 25px;"></div>
                    <div class="p2">200</div><div class="p2" style="height: 25px;"></div>
                    <div class="p2">400</div><div class="p2" style="height: 25px;"></div>
                    <div class="p2">600</div><div class="p2" style="height: 25px;"></div>
                    <div class="p2">800</div><div class="p2" style="height: 22px;"></div>
                    <div style="position: relative; width: 23px; border-right: solid 1px; height: 22px; color: #ddffff;">
                        <di class="p2-text">1024<small style="margin-left: 3px; font-size: 8px;">PIXEL</small></di>
                    </div>
                </div> -->
                <div class="result-draw-layer2" id="mask-image-container"></div>
                    <div id="result-draw-layer"><!-- 서버에서 받은 좌표로 css요소를 그리는 레이어 -->
                        <canvas id="canvas-layer" width="1024px" height="512px"></canvas> <!-- 이미지만 들어가는 레이어 -->
                    </div>
                    <div id="loader-box"></div>
                <div id="bottom-infobox-container"></div>
            </div>
            <!-- matin 하단 -->
            <div class="div-h" style="width: 100%; height: 200px; border-top: solid 1px rgb(34, 56, 70);">

            </div>
        </div>




    </div>
<!-- ================================================================================================================================== -->

    <div class="back-container-right">
        <div class="cover-box" style="width: 230px; height: 1390px;">
        <div class="cover-title1">
            <div class="cover-title2"></div>
            <div class="cover-title3">OUPUT FORM</div>
            <div class="cover-title3" style="width: 65px;">X-RAY</div>
            <div class="cover-title2"></div>
        </div>


        <button id="toggle-mask">Mask</button>
        <!-- <button id="toggle-ratio-box">ratio</button> -->
        
         <!----------------------------- 골소실이 가장 심한 크롭 이미지 ----------------------------->
        <div id="cropped-image-container" style="width: 100%; text-align: center;">
            <img id="cropped-image" src="" alt="Cropped Image" style="max-width: 100%; height: auto; display: none;">
        </div>
        

        <div class="div-v summary-form">
            <h6>Summary of Dental Data</h6>
            <div class="div-h">

                <div class="div-v" style="border: solid 1px wheat;">
                    <div class="index-column">Age</div>
                    <div class="index-column">Maximum Loss</div>
                    <div class="index-column">Minimum Loss</div>
                    <div class="index-column">Average Loss</div>
                    <div class="index-column">Total Losses</div>
                    <div class="index-column">Grade A Count</div>
                    <div class="index-column">Grade B Count</div>
                    <div class="index-column">Grade C Count</div>
                </div>

                <div class="div-v" style="border: solid 1px wheat;" id="summary-container">
                    
                </div>

            </div>
        </div>

        <!-- <div id="health-survey">
            <p>질문 1: 흡연 여부</p>
            <input type="checkbox" name="smoking" value="Yes" id="smokingYes"> 예
            <input type="checkbox" name="smoking" value="No" id="smokingNo"> 아니오
        
            <div id="smoking-details" style="display:none;">
                <p>질문 2: 하루 담배 몇 개비를 피우시나요?</p>
                <input type="radio" name="cigarettes-per-day" value="1-5"> 1~5개
                <input type="radio" name="cigarettes-per-day" value="5-10"> 5~10개
                <input type="radio" name="cigarettes-per-day" value="10-15"> 10~15개
                <input type="radio" name="cigarettes-per-day" value="15-20"> 15~20개
        
                <p>질문 3: 흡연 기간은?</p>
                <input type="radio" name="smoking-duration" value="1-3 years"> 1~3년
                <input type="radio" name="smoking-duration" value="3-5 years"> 3~5년
                <input type="radio" name="smoking-duration" value="5-10 years"> 5~10년
                <input type="radio" name="smoking-duration" value="10+ years"> 10년 이상
            </div>
        
            <p>질문 4: 당뇨병 여부</p>
            <input type="checkbox" name="diabetes" value="Yes"> 있음
            <input type="checkbox" name="diabetes" value="No"> 없음
        </div> -->

        


        </div>
    </div>



</div>


<script>
    // 선택한 파일명 표시
    window.onload = function() {
        var fileInput = document.getElementById('imgfile');
        var fileNameField = document.querySelector('.new-input');

        fileInput.addEventListener('change', function() {
            var fileName = this.files[0].name;
            fileNameField.value = fileName; // 파일명을 입력 필드에 표시
        });
    };
</script>

<script>
    var dentalData = {
        maxLoss: 'none',
        minLoss: 'none',
        totalLosses: 'none',
        lossCount: 'none',
        gradeCounts: { A: 'none', B: 'none', C: 'none' },
        age: 'none',
        averageLoss: 'none',
        updateMetrics: function(item) {
            let ratio = parseFloat(item.ratio);
            if (this.maxLoss === 'none' || this.maxLoss < ratio) {
                this.maxLoss = ratio;
            }
            if (this.minLoss === 'none' || this.minLoss > ratio) {
                this.minLoss = ratio;
            }
            this.totalLosses = this.totalLosses === 'none' ? 0 : this.totalLosses;
            this.totalLosses += ratio;
            this.lossCount = this.lossCount === 'none' ? 0 : this.lossCount;
            this.lossCount++;

            // Update grade counts
            if (this.gradeCounts[item.grade] === 'none') {
                this.gradeCounts[item.grade] = 0;
            }
            this.gradeCounts[item.grade]++;

            this.finalizeData();
        },
        setAge: function(age) {
            this.age = age;
            this.displaySummary();
        },
        finalizeData: function() {
            if (this.lossCount !== 'none') {
                this.averageLoss = this.totalLosses / this.lossCount;
                this.displaySummary();
            }
        },
        displaySummary: function() {
            const container = document.getElementById('summary-container');
            if (!container) {
                console.error("Summary container not found");
                return;
            }
            container.innerHTML = `
                <div class="data-entry">Age: ${this.age}</div>
                <div class="data-entry">Maximum Loss: ${this.maxLoss !== 'none' ? this.maxLoss.toFixed(2) + "%" : this.maxLoss}</div>
                <div class="data-entry">Minimum Loss: ${this.minLoss !== 'none' ? this.minLoss.toFixed(2) + "%" : this.minLoss}</div>
                <div class="data-entry">Average Loss: ${this.averageLoss !== 'none' ? this.averageLoss.toFixed(2) + "%" : this.averageLoss}</div>
                <div class="data-entry">Total Losses: ${this.lossCount !== 'none' ? this.lossCount : this.lossCount}</div>
                <div class="data-entry">Grade A Count: ${this.gradeCounts.A !== 'none' ? this.gradeCounts.A : this.gradeCounts.A}</div>
                <div class="data-entry">Grade B Count: ${this.gradeCounts.B !== 'none' ? this.gradeCounts.B : this.gradeCounts.B}</div>
                <div class="data-entry">Grade C Count: ${this.gradeCounts.C !== 'none' ? this.gradeCounts.C : this.gradeCounts.C}</div>`;
        }
    };

    // 페이지 로드 시 요약 정보를 초기화합니다.
    document.addEventListener('DOMContentLoaded', function() {
        dentalData.displaySummary();
    });
</script>


<script>
    // 서버에서 가져온 위치 좌표를 점으로 표시
    function addLocationPoint(x, y, m, typ) {
        const container = document.getElementById('result-draw-layer');
        const point = document.createElement('div');
        point.style.position = 'absolute';
        // point.style.top = `${y-2.5}px`;
        // point.style.left = `${x-2}px`; 

        point.style.top = `${m[1] - 2.5}px`; // 중간점의 y 좌표를 사용
        point.style.left = `${m[0] - 2}px`; // 중간점의 x 좌표를 사용

        point.style.width = '5px';
        point.style.height = '5px';
        point.style.backgroundColor = 'rgba(255, 255, 255, 0.5)';
        point.style.borderRadius = '50%'; // 원형 점
        point.style.zIndex = '10'; // 캔버스 위에 보이도록
        
        // 데이터 속성 추가
        if (typ === 'up') {
            point.setAttribute('data-cej-type', 'up');
            // point.style.top = `${y+15}px`;
        } else if (typ === 'low') {
            point.setAttribute('data-cej-type', 'low');
            // point.style.top = `${y-15}px`;
        }
        
        container.appendChild(point);
    }


    // 서버에서 받은 등급과 비율을 각각의 infoBox안에 표시
    function addGradeRatio(x, y, grade, ratio, cejType) {
        const container = document.getElementById('result-draw-layer');
        const infoBox = document.createElement('div');
        infoBox.classList.add('info-box');
        
        let boxY;

        if (cejType === 'up') {
            boxY = -1; // 상단 박스 y 좌표
        } else {
            boxY = container.offsetHeight - 20; // 하단 박스 y 좌표
        }

        infoBox.style.left = `${x}px`;
        infoBox.style.top = `${boxY}px`;

        // 등급과 비율 정보를 데이터 속성으로 추가
        infoBox.setAttribute('data-grade', grade);
        infoBox.setAttribute('data-ratio', ratio);

        container.appendChild(infoBox);
        infoBox.innerHTML = `<strong>${grade}</strong>${ratio}%`;
    }


    // result-draw-layer 에 그려진 infoBox에 인덱스를 부여함 좌->우
    function orderInfoBoxes() {
        const infoBoxes = document.querySelectorAll('.info-box');
        const topInfoBoxes = Array.from(infoBoxes).filter(box => {
            // 상단에 위치한 infoBox만
            return box.offsetTop < 0;
        });
        const bottomInfoBoxes = Array.from(infoBoxes).filter(box => {
            // 상단에 위치한 infoBox만
            return box.offsetTop > 0;
        });

        // x 좌표를 기준으로 정렬
        topInfoBoxes.sort((a, b) => a.offsetLeft - b.offsetLeft);
        bottomInfoBoxes.sort((a, b) => a.offsetLeft - b.offsetLeft);
    }

    
    // infoBox의 배경색을 비율에 따라 설정 21% 부터는 거의 노랑 41%부터는 거의 빨강
    function DetermineColorBasedOnRatio(box, grade, ratio, maxRatio) {
        let startColor, endColor;
        let divide = 0;
        
        if (grade === 'A') {
            startColor = { r: 224, g: 240, b: 241 };
            endColor = { r: 0, g: 221, b: 235 };
            divide = 30
        } else if (grade === 'B') {
            startColor = { r: 158, g: 166, b: 255 };
            endColor = { r: 102, g: 23, b: 229 };
            divide = 40
        } else if (grade === 'C') {
            startColor = { r: 202, g: 127, b: 255 };
            endColor = { r: 161, g: 2, b: 127 };
            divide = 40
        } else {
            // 기본값이나 예외 처리
            box.style.backgroundColor = 'rgb(0, 0, 0)'; // 흰색
            return;
        }

        // 비율에 따른 색상 계산
        let ratioColor = {
            r: calculateColor(startColor.r, endColor.r, ratio, divide),
            g: calculateColor(startColor.g, endColor.g, ratio, divide),
            b: calculateColor(startColor.b, endColor.b, ratio, divide)
        };

        box.style.backgroundColor = `rgb(${ratioColor.r}, ${ratioColor.g}, ${ratioColor.b})`;
        box.style.height = `${(ratio * 2) + 20}px`;

            // 최대 비율을 가진 박스에 특별한 스타일 적용
            if (ratio === maxRatio) {
                box.classList.add('max-ratio-box');
            } else {
                box.classList.remove('max-ratio-box');
            }
    }

    function calculateColor(start, end, ratio, divide) {
        // 비율에 따른 색상 값 계산 (선형 보간) 각 등급이 20% 차이니 20으로 나눔
        return Math.round(start + (end - start) * (ratio / divide));
    }


let maxRatio = 0;  // 전역 변수로 최대 비율을 저장

    // infoBox의 내용만 순서대로 info-box2에 복사하고 top-infobox-container에 넣음
    function cloneAndArrangeBoxes() {
        const topInfoBoxContainer = document.querySelector('div[id="top-infobox-container"]');
        const bottomInfoBoxContainer = document.querySelector('div[id="bottom-infobox-container"]');

        const infoBoxes = document.querySelectorAll('.info-box');

        // 상단 infoBox의 배열을 만들고 x 좌표에 따라 정렬
        const topInfoBoxes = Array.from(infoBoxes).filter(box => box.offsetTop < 0);
        topInfoBoxes.sort((a, b) => a.offsetLeft - b.offsetLeft);
        
        const bottomInfoBoxes = Array.from(infoBoxes).filter(box => box.offsetTop > 0);
        bottomInfoBoxes.sort((a, b) => a.offsetLeft - b.offsetLeft);

        maxRatio = 0; // 최대 비율 초기화
        // 모든 박스를 검사하여 최대 비율 찾기
        infoBoxes.forEach(box => {
            const ratio = parseFloat(box.getAttribute('data-ratio'));
            if (ratio > maxRatio) {
                maxRatio = ratio;
            }
        });

        topInfoBoxes.forEach((box, index) => {
            // 데이터 속성에서 등급과 비율 정보 읽기
            const grade = box.getAttribute('data-grade');
            const ratio = parseFloat(box.getAttribute('data-ratio'));

            const topNewDiv = document.createElement('div');
            topNewDiv.innerHTML = box.innerHTML;
            topNewDiv.className = 'info-box2';
            topInfoBoxContainer.appendChild(topNewDiv);

            DetermineColorBasedOnRatio(topNewDiv, grade, ratio, maxRatio);
        });

        bottomInfoBoxes.forEach((box, index) => {
            // 데이터 속성에서 등급과 비율 정보 읽기
            const grade = box.getAttribute('data-grade');
            const ratio = parseFloat(box.getAttribute('data-ratio'));
            
            const bottomNewDiv = document.createElement('div');
            bottomNewDiv.innerHTML = box.innerHTML;
            bottomNewDiv.className = 'info-box3';
            bottomInfoBoxContainer.appendChild(bottomNewDiv);

            DetermineColorBasedOnRatio(bottomNewDiv, grade, ratio, maxRatio);
        });
    }


    // 포인트와 박스2, 3를 선으로 매칭함 여기선 x좌표만을 기준으로 가장 가까운 포인트와 박스를 매칭해 이어줌
    function drawLineFromPointToBox() {
        const canvas = document.getElementById('canvas-layer');
        const ctx = canvas.getContext('2d');

        const topPoints = Array.from(document.querySelectorAll('div[data-cej-type="up"]')).sort((a, b) => parseFloat(a.style.left) - parseFloat(b.style.left));
        const bottomPoints = Array.from(document.querySelectorAll('div[data-cej-type="low"]')).sort((a, b) => parseFloat(a.style.left) - parseFloat(b.style.left));

        const topInfoBoxes = Array.from(document.querySelectorAll('.info-box2')).sort((a, b) => {
            const rectA = a.getBoundingClientRect();
            const rectB = b.getBoundingClientRect();
            return rectA.left - rectB.left;
        });

        const bottomInfoBoxes = Array.from(document.querySelectorAll('.info-box3')).sort((a, b) => {
            const rectA = a.getBoundingClientRect();
            const rectB = b.getBoundingClientRect();
            return rectA.left - rectB.left;
        });

        topPoints.forEach((point, index) => {
            const pointX = parseFloat(point.style.left) + 2.5;
            const pointY = parseFloat(point.style.top) + 2.5;

            if (topInfoBoxes[index]) {
                const box = topInfoBoxes[index];
                const rect = box.getBoundingClientRect();
                const canvasRect = canvas.getBoundingClientRect();
                const boxCenterX = rect.left + rect.width / 2 - canvasRect.left;
                // 아랫변 중간점으로 Y 좌표 수정
                const boxCenterY = rect.top + rect.height - canvasRect.top; // canvas 상대 위치 조정을 위해 'rect.top + rect.height'를 사용

                // 선 그리기
                ctx.beginPath();
                ctx.moveTo(pointX, pointY);
                ctx.lineTo(boxCenterX, boxCenterY);
                ctx.strokeStyle = 'white';
                ctx.stroke();
            }
        });

        bottomPoints.forEach((point, index) => {
            const pointX = parseFloat(point.style.left) + 2.5;
            const pointY = parseFloat(point.style.top) + 2.5;

            if (bottomInfoBoxes[index]) {
                const box = bottomInfoBoxes[index];
                const rect = box.getBoundingClientRect();
                const canvasRect = canvas.getBoundingClientRect();
                const boxCenterX = rect.left + rect.width / 2 - canvasRect.left;
            
               // 윗변 중간점으로 Y 좌표 수정
                const boxCenterY = rect.top - canvasRect.top; // 여기를 수정하여 윗변으로 조정

                // 선 그리기
                ctx.beginPath();
                ctx.moveTo(pointX, pointY);
                ctx.lineTo(boxCenterX, boxCenterY);
                ctx.strokeStyle = 'white';
                ctx.stroke();
            }
        });
    }


    // 선택 이미지 미리보기 로직
    document.getElementById('imgfile').addEventListener('change', function(event) {
        var file = event.target.files[0];
        if (file && file.type.match('image.*')) { // 파일이 이미지인지 확인
            var reader = new FileReader();
            
            reader.onload = function(e) {
                var previewContainer = document.getElementById('preview-container');
                // 미리보기 이미지가 이미 있다면 제거
                previewContainer.innerHTML = ''; 
                
                // 새 이미지 미리보기 생성
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.width = '100%'; // 미리보기 크기 조절, 필요에 따라 조정
                img.style.height = 'auto';
                
                previewContainer.appendChild(img); // 미리보기 컨테이너에 이미지 추가
            };
            
            reader.readAsDataURL(file); // 파일 읽기
        }
    });


    // 로딩 애니매이션 생성
    function createLoader() {
        const container = document.getElementById('loader-box');
        if (!container) {
            console.error('Container element not found');
            return;
        }
        const loader = document.createElement('div');
        loader.classList.add('loader');

        const text = document.createElement('div');
        text.classList.add('text');
        text.textContent = "Loading...";
        loader.appendChild(text);

        // Load inner circles with unique animations
        for (let i = 1; i <= 3; i++) {
            const loadInner = document.createElement('div');
            loadInner.classList.add('load-inner', `load-${i === 1 ? 'one' : i === 2 ? 'two' : 'three'}`);
            loader.appendChild(loadInner);
        }

        container.appendChild(loader);
    }

    
    // 크롭된 이미지를 표시하는 함수
    function displayCroppedImage(base64Image) {
        const imgElement = document.getElementById('cropped-image');
        imgElement.src = 'data:image/jpeg;base64,' + base64Image;
        imgElement.style.display = 'block'; // 이미지 표시
    }


    // 마스크 이미지를 표시하는 함수
    function displayMaskImage(base64Image) {
        const imgContainer = document.getElementById('mask-image-container');
        imgContainer.innerHTML = ''; // 기존 이미지 제거
        const imgElement = document.createElement('img');
        imgElement.src = 'data:image/png;base64,' + base64Image;
        imgElement.style.width = '1024px';  // 이미지 폭 설정
        imgElement.style.height = '512px';  // 이미지 높이 설정
        imgContainer.appendChild(imgElement);
    }


    function uploadImage() {
        var ageInput = document.getElementById('ageInput').value; // 나이 입력값 가져오기
        var file_input = document.getElementById('imgfile');

        // 나이와 이미지 모두 입력되었는지 확인
        if (!file_input.files[0] || ageInput === "" || parseInt(ageInput) < 1) {
            alert("이미지와 나이를 올바르게 입력해주세요.");
            return; // 함수 실행 중지
        }
        dentalData.setAge(parseInt(ageInput)); // 나이 데이터를 dentalData 객체에 설정

        var form_data = new FormData();
        var uploadButton = document.querySelector("button[onclick='uploadImage()']"); // 업로드 버튼 선택
        uploadButton.disabled = true; // 업로드 시작 시 버튼 비활성화

        var canvas = document.getElementById('canvas-layer');
        var ctx = canvas.getContext('2d');

        var topInfoBoxContainer = document.getElementById('top-infobox-container');
        var bottomInfoBoxContainer = document.getElementById('bottom-infobox-container');
        var resultDrawLayer = document.getElementById('result-draw-layer');
        var loaderBox = document.getElementById('loader-box');

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        topInfoBoxContainer.innerHTML = '';
        bottomInfoBoxContainer.innerHTML = '';
        // resultDrawLayer 내의 canvas를 제외한 모든 요소를 제거합니다.
        Array.from(resultDrawLayer.childNodes).forEach(child => {
            if (child.id !== 'canvas-layer') {
                resultDrawLayer.removeChild(child);
            }
        });

        // 로딩 애니매이션 호출
        createLoader();
        
        form_data.append('imgfile', file_input.files[0]);
        form_data.append('age', ageInput); // 나이 데이터를 FormData에 추가

        fetch('{% url "diagnosis_home" %}', {
            method: 'POST',
            body: form_data,
            headers: {
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            }
        })
        .then(response => response.json())
        .then(data => {

            // 서버로부터 받은 이미지(Base64 문자열)를 이미지 객체로 로드
            var img = new Image();
            img.src = 'data:image/jpeg;base64,' + data.graded_data[0].encoded_image;

            img.onload = function() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
     
                // 치아 정보(등급과 스코어) 표시 로직
                data.graded_data.forEach(item => {
                    let textX, textY, textM, typ;
                    if (item.cej_type === 'up') {
                        textX = item.start_coordinate[0];
                        textY = item.start_coordinate[1];

                        let endX = item.end_coordinate[0];
                        let endY = item.end_coordinate[1];
                        textM = [(textX + endX) / 2, (textY + endY) / 2]; // 중간점 계산
                        typ = "up"
                        
                    } else {
                        textX = item.end_coordinate[0];
                        textY = item.end_coordinate[1];

                        let startX = item.start_coordinate[0];
                        let startY = item.start_coordinate[1];
                        textM = [(textX + startX) / 2, (textY + startY) / 2]; // 중간점 계산
                        typ = "low"
                    }
                    // // 각 치아 좌표 근처에 텍스트 그리기
                    // ctx.font = "16px Arial";
                    // ctx.fillStyle = "yellow";
                    // ctx.fillText(`${item.grade}, ${item.ratio}`, textX, textY);
                    
                    // // 치아 좌표 시각화
                    // ctx.fillStyle = "red"; 
                    // ctx.beginPath(); 
                    // ctx.arc(textX, textY, 5, 0, 2 * Math.PI);
                    // ctx.fill();
                    addLocationPoint(textX, textY, textM, typ);
                    addGradeRatio(textX, textY, item.grade, item.ratio, item.cej_type);

                    dentalData.updateMetrics(item); // 요약 데이터 업데이트
                });

                dentalData.finalizeData(); // ratio 편균 계산
                dentalData.displaySummary(); // 요약 데이터 표시

                orderInfoBoxes();
                cloneAndArrangeBoxes();
                drawLineFromPointToBox();
                console.log('maxRatio:', maxRatio); // maxRatio 값 콘솔에 출력

            };
            
            if (data.additional_data.mask_image) {
                displayCroppedImage(data.additional_data.cropped_image); // 크롭 이미지 표시함수 호출
            }
            if (data.additional_data.mask_image) {
                displayMaskImage(data.additional_data.mask_image);  // 마스크 이미지 표시함수 호출
            }
            uploadButton.disabled = false; // 서버 응답 후 버튼 다시 활성화
            loaderBox.innerHTML = '';
        })

        .catch(error => {
            loaderBox.innerHTML = '';
            console.error('Error:', error);
            alert('이미지를 처리하는 중 오류가 발생했습니다.');
            location.reload(); // 현재 페이지 새로고침

        });
    }
</script>



<script>
    // 마스크 이미지 토글
    document.getElementById('toggle-mask').addEventListener('click', function() {
    const maskContainer = document.getElementById('mask-image-container');
    if (maskContainer.style.display === 'none') {
        maskContainer.style.display = 'block';  // 이미지 표시
    } else {
        maskContainer.style.display = 'none';  // 이미지 숨기기
    }
});

    // document.getElementById('toggle-ratio-box').addEventListener('click', function() {
    //     const maskContainer = document.getElementById('top-infobox-container');
    //     if (maskContainer.style.display === 'none') {
    //         maskContainer.style.display = 'block';  // 이미지 표시
    //     } else {
    //         maskContainer.style.display = 'none';  // 이미지 숨기기
    //     }
    // });
</script>
{% endblock %}
